.bold{
  font-weight: bold;
}

.colonne_centrale{
  background-color: var(--beige_fonce_o);
  border:2px solid black;
}
.img_all{
  width: 100%;
  height:100%;
}

:root {
  --jaune: #E8C542;
  --jaune2: #F1BC71;
  --beige: #FBFBF3;
  --beige_fonce: #F2EDDB;
  --vert: #09371F;
  --violet: #90769D;
  --cyan: #51A9AB;
  --vert2: #57AC8A;
  --rose: #CFA0B6;
  --bleu_ciel: #73BBBC;
  --cam_color: #C4C395;
  --bleu_logo: #2E4143;
  --cam_color2:#BC6D3E;
  --orange_logo:#B17047;

  --orange_logo_o: rgba(177, 112, 71,0.8);
  --bleu_logo_o: rgba(46, 65, 67,0.9);
  --cam_color2_o: rgba(188, 109, 62, 0.70);
  --cam_color_o: rgba(196, 195, 149,0.8);
  --violet_o:rgba(144, 118, 157,0.65);
  --bleu_ciel_o:rgba(115, 187, 188, 0.65);
  --cyan_o:rgba(81, 169, 171,0.55);
  --cyan_o2:rgba(81, 169, 171,0.80);
  --jaune_o: rgba(232,197,66,0.7);
  --beige_fonce_o: rgba(242,237,219,0.82);
  --vert_o: rgba(9,55,31,0.70);
  --vert_o2: rgba(9,55,31,0.65);
  --vert_clair:rgba(154, 188, 157,0.92);
  --vert_clair_o:rgba(154, 188, 157,0.2);
  --rouge: rgb(225, 51, 45);
  --rouge_clair:rgb(234, 116, 112);
  --text: #000;
  --text2: #fff;
}

.taille_1{
  font-size: 1.2em;
}
.taille_2{
  font-size: 1.5em;
}
.taille_3{
  font-size: 2em;
}
.taille_4{
  font-size:2.5em;
}
.taille_5{
  font-size:3em;
}

body {
  margin: 0 !important;
  padding: 0 !important;
  height: 100%;
  overflow: hidden;
}

.topnav {
  overflow: hidden;
  background-color: var(--beige_fonce);
  letter-spacing: 1px;
  border-bottom: 1px var(--bleu_logo_o) solid;
}

.topnav .nav-link {
  float: left;
  text-align: center;
  color: var(--vert);
  padding: 14px 16px;
  text-decoration: none;
  font-size: 19px;
}

.topnav-right {
  display: flex;
  justify-content: flex-end;
}

.topnav-right h4{
  height:25px;
}

.btn:hover {
  color: var(--text2) !important;
}

.btn:hover:after {
  top: 0;
  height: 100%;
}

.btn:active {
  top: 2px;
}

.btn-13 {
  z-index: 1;
}

.btn-13:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  z-index: -1;
  background: var(--bleu_logo);
  transition: all 0.4s ease;
}

.btn-13:hover {
  color: var(--beige)!important;
}

.btn-13:hover:after {
  top: auto;
  bottom: 0;
  height: 100%;
}

.custom-btn-1 {
  padding: 8px 20px;
  font-weight: 500;
  background: transparent;
  outline: none !important;
  cursor: pointer;
  transition: all 0.4s ease;
  position: relative;
  display: inline-block;
}

footer {
  z-index: 5;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px;
  color: var(--beige);
  background-color: var(--bleu_logo_o);
  text-align: center;
}
